.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}

.footer-legal {
  background-color: rgba(0, 0, 0, 0.2);
}

#legal-menu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  li:last-child {
    position: relative;
    &:before {
      content: "";
      background-color: #fff;
      width: 1px;
      display: block;
      height: 100%;
      position: absolute;
      left: -1rem;
    }
  }
  a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
