.site {
  clear: both;
  width: 100%;
  &:after {
    content: "";
    background-color: $color__btblack;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    position: fixed;
    pointer-events: none;
    transition: opacity 300ms ease-in-out;
    .menu-toggled & {
      opacity: 0.5;
    }
  }
}

.site-title {
  display: none;
}

//Scroll Trigger
#pixel-to-watch {
  position: absolute;
  width: 1px;
  height: 1px;
  //Change Top to change when nav changes bg color
  top: 1px;
  left: 0;
}

.mlogo {
  display: none;
}

#masthead {
  width: 100%;
  top: 0;
  position: fixed;
  inset: 0 auto auto 0;
  z-index: 10;
  background-color: transparent;
  //background-color: rgba(255, 255, 255, 0.10);
  transition: opacity var(--vt-duration) var(--vt-ease);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  &:after {
    content: "";
    position: absolute;
    inset-block-end: -1px;
    inset-inline: 0;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 1px;
    background-color: $color__btblack;
    opacity: 0;
    transition: opacity var(--vt-duration) var(--vt-ease);
  }
  .scrolled &,
  .menu-toggled & {
    background: $color__btpurewhite;
  }
  .scrolled & {
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.2);
    &:after {
      opacity: 0.1;
    }
  }
  .menu-toggled & {
    &:after {
      display: none;
    }
  }
  .page-template-belltower-home & {
    background-color: $color__btdarkestgreen;
  }
}

.bg-transitions-on#masthead {
  transition: background-color 300ms ease-in-out;
}

.site-header-w1 {
  padding-top: 1vh !important;
  padding-bottom: 1vh !important;
  height: 100%;
  //padding: clamp(0px, 3vh, 10px) 0;
}

.main-navigation {
  display: block;
  width: 100%;
  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    ul {
      //box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 99999;
      flex-flow: wrap;
      padding-top: 1em;
      opacity: 0;
      visibility: hidden;
      transform: translateY(6px);
      pointer-events: none;
      transition: opacity 160ms ease, transform 160ms ease,
        visibility 0s linear 160ms;
      ul {
        left: 100%;
        top: 0;
        transform: translateY(0);
      }
      li {
        &:hover > ul,
        &:focus-within > ul,
        &.focus > ul {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          pointer-events: auto;
          transition-delay: 0s;
        }
      }
      a {
        width: 200px;
      }
    }
    li:hover > ul,
    li:focus-within > ul,
    li.focus > ul {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      pointer-events: auto;
      transition-delay: 0s;
    }
  }
  li {
    position: relative;
  }
  a {
    display: block;
    text-decoration: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  .main-navigation ul ul {
    transition: none;
    transform: none;
  }
}

.main-navigation {
  height: 100%;
  ul {
    justify-content: space-between;
    align-items: center;
    li {
      margin: 0;
      line-height: 1;
      &:nth-child(2) {
        order: 1;
      }
      &:nth-child(3) {
        order: 2;
      }
      &:nth-child(4) {
        order: 3;
      }
      &:nth-child(5) {
        order: 5;
      }
      &:nth-child(6) {
        order: 6;
      }
      &:nth-child(7) {
        order: 7;
      }
      &.menu-item-home {
        order: 4;
        span {
          @include bt-visually-hidden;
        }
        a {
          color: transparent;
          min-height: 83px;
        }
        a:after {
          display: none;
        }
        .bell-1 {
          fill-opacity: 0;
          transition: fill-opacity 200ms ease-in 0s;
        }
        .bell-2 {
          fill-opacity: 0;
          transition: fill-opacity 200ms ease-in 50ms;
        }
        .bell-3 {
          fill-opacity: 0;
          transition: fill-opacity 200ms ease-in 100ms;
        }
        .bell-4 {
          fill-opacity: 0;
          transition: fill-opacity 200ms ease-in 150ms;
        }
        .cls-1:not(.bell-1):not(.bell-2):not(.bell-3):not(.bell-4) {
          fill-opacity: 1;
          transition: fill-opacity 350ms ease-in 10ms;
        }
      }
      a {
        color: $color__btpurewhite;
        white-space: nowrap;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        //padding: $u30navPadding;
        //padding: 10px 7px;
        min-inline-size: 48px;
        min-block-size: 48px;
        @extend .has-normal-font-size;
        transition: opacity 300ms ease, color 300ms ease;
        &:after {
          background-color: $color__btpurewhite;
          @extend .bt-after;
          //transform: translate(0, calc(-1 * (#{$u30navPadding} - 8px)));
          transform: translate(0, -4px);
          opacity: 0;
          transition: opacity 300ms ease, transform 300ms ease,
            background-color 300ms ease;
        }
        &:hover {
          &:after {
            opacity: 0.7;
            //transform: translate(0, calc(-1 * (#{$u30navPadding} - 4px)));
            transform: translate(0, -8px);
          }
        }
      }
      &.home a {
        //padding: $u30navPadding;
        padding-inline: clamp(4px, 2vw, 30px);
        //padding-block: clamp(4px, 1vh, 20px);
        padding-block: 0;
        min-height: auto;
        svg {
          transform: translate(0, 2px);
          fill: $color__btpurewhite;
          transition: fill 300ms ease;
          .scrolled & {
            fill: $color__btblack;
          }
          .page-template-belltower-home.scrolled & {
            fill: $color__btpurewhite;
          }
        }
      }
      &:nth-child(2) a {
        padding-left: 0;
      }
      &:last-child a {
        padding-right: 0;
      }
      &.current-menu-item > a:after {
        opacity: 1;
      }
    }
    ul {
      //TEST
      //left:0!important;
      //left:calc((#{$u30navPadding} + #{$u30navPadding}));
      //END TEST
      background: rgba($color__btdarkestgreen, 0.8);
      width: auto;
      padding: 0px 10px;
      .scrolled & {
        background-color: $color__btpurewhite;
      }
      .page-template-belltower-home & {
        background-color: $color__btdarkestgreen;
      }
      .single-post & {
        background-color: $color__btdarkgreen;
      }
      li {
        padding-top: 0;
        a {
          width: auto;
          white-space: nowrap;
          padding: 0.5em 0;
          &:after {
            left: 0 !important;
            width: auto !important;
          }
        }
      }
      ul li {
        padding-top: 0;
      }
    }
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: $mobileBreakpoint) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}

.menu-toggle {
  width: 44px;
  height: 44px;
  text-indent: -9999px;
  border-radius: $btsiteBorderRadius;
  background-color: transparent;
  border: none;
  transition: background-color 200ms ease;
  position: relative;
  display: inline-flex;
  justify-content: left;
  display: none;
  svg {
    height: 24px;
    width: 24px;
    align-self: center;
  }
  path {
    backface-visibility: hidden;
    transition: 200ms;
    stroke-width: 2px;
    stroke: $color__btpurewhite;
    .scrolled & {
      stroke: $color__btdarkgreen;
    }
    .page-template-belltower-home.scrolled & {
      stroke: $color__btpurewhite;
    }
    .page-template-belltower-home.menu-toggled & {
      stroke: $color__btpurewhite;
    }
    &.p1,
    &.p2,
    &.p3 {
      transition: opacity 100ms ease-in 100ms, transform 100ms ease-in 100ms;
      -webkit-transition: opacity 100ms ease-in 100ms,
        -webkit-transform 100ms ease-in 100ms;
    }
    &.p4,
    &.p5 {
      opacity: 0;
      transform-origin: center;
      transition: opacity 100ms ease-in, transform 100ms ease-in;
      -webkit-transition: opacity 100ms ease-in, -webkit-transform 100ms ease-in;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &[aria-expanded="true"] {
    .p1,
    .p2,
    .p3 {
      transition: opacity 100ms ease-in, transform 100ms ease-in;
      -webkit-transition: opacity 100ms ease-in, -webkit-transform 100ms ease-in;
      opacity: 0;
    }
    .p4,
    .p5 {
      transition: opacity 100ms ease-in 100ms, transform 100ms ease-in 100ms;
      -webkit-transition: opacity 100ms ease-in 100ms,
        -webkit-transform 100ms ease-in 100ms;
      opacity: 1;
      stroke: $color__btdarkgreen;
    }
    .p1 {
      transform: translate(0, 8px);
    }
    .p3 {
      transform: translate(0, -8px);
    }
    .p4 {
      transform: rotate(45deg);
    }
    .p5 {
      transform: rotate(-45deg);
    }
  }
}

body {
  &.scrolled {
    .main-navigation ul li a {
      color: $color__btblack;
      &:after {
        background: $color__btblack;
      }
    }
  }
  &.scrolled.page-template-belltower-home {
    .main-navigation ul li a {
      color: $color__btpurewhite;
      &:after {
        background: $color__btpurewhite;
      }
    }
  }
}

@media (max-width: $tabletBreakpoint) {
  .main-navigation ul li.home a svg {
    max-width: 100px;
  }

  .main-navigation ul li a {
    font-size: 0.9rem !important;
  }
}

@media (max-width: $mobileBreakpoint) {
  .single-post .main-navigation ul ul {
    background-color: transparent;
  }

  .site-header-w1 {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: row-reverse;
  }

  .main-navigation ul li.home a {
    svg {
      display: none;
    }
    span {
      display: block;
    }
  }

  .mlogo {
    display: block;
    height: 44px;
    //float: left;
    //padding: 3px 0 3px 3px;
    span {
      @include bt-visually-hidden;
    }
    svg {
      height: 100%;
      fill: $color__btpurewhite;
      transition: fill 300ms ease;
      .scrolled & {
        fill: $color__btdarkgreen;
      }
      .page-template-belltower-home.scrolled & {
        fill: $color__btpurewhite;
      }
      .menu-toggled & {
        fill: $color__btdarkgreen;
      }
      .page-template-belltower-home.menu-toggled & {
        fill: $color__btpurewhite;
      }
    }

    .bell-1 {
      fill-opacity: 0;
      transition: fill-opacity 200ms ease-in 0s;
    }

    .bell-2 {
      fill-opacity: 0;
      transition: fill-opacity 200ms ease-in 50ms;
    }

    .bell-3 {
      fill-opacity: 0;
      transition: fill-opacity 200ms ease-in 100ms;
    }

    .bell-4 {
      fill-opacity: 0;
      transition: fill-opacity 200ms ease-in 150ms;
    }
    .cls-1:not(.bell-1):not(.bell-2):not(.bell-3):not(.bell-4) {
      fill-opacity: 0;
      transition: fill-opacity 350ms ease-in 10ms;
    }
  }

  .scrolled .main-navigation ul li a {
    color: $color__btdarkgreen;
  }

  .menu-toggle {
    display: inline-flex;
    float: right;
    padding: 10px;
    svg {
      width: 100%;
    }
  }

  .main-navigation ul {
    text-align: left;
    position: absolute;
    left: 0;
    padding-left: $btsitePadding;
    top: 98%;
    padding-top: 1em;
    padding-bottom: 1em;
    max-height: none;
    background: transparent;
    pointer-events: none;
    display: block;
    background-color: $color__btpurewhite;
    transition: opacity 300ms ease-in-out;
    width: 100%;
    opacity: 0;
    z-index: 11;
    //.page-template-belltower-home & {background-color:$color__btdarkgreen;}
    @extend .btscrollbars;
    li {
      padding-left: 5px;
      z-index: 11;
      position: relative;
      a {
        padding-top: 8px;
        padding-bottom: 8px;
        color: $color__btdarkestgreen;
        height: auto !important;
        font-size: 1.2rem;
        padding-left: 0;
        //.page-template-belltower-home &{color:$color__btpurewhite;}
        &:after {
          display: none;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      &.menu-item-has-children:after {
        display: none;
      }
    }
    ul {
      position: relative;
      padding: 0 0.5em;
      //padding: 0;
      left: 0;
      width: 100%;
      //padding-bottom:1em;
      margin: 0 0 0.5em 0.5em;
      opacity: 1;
      float: none;
      z-index: 12;
      background-color: transparent;
      visibility: visible;
      transform: translateY(0);
      border-left: 1px solid $color__btdarkestgreen;
      li {
        padding-left: 0.5em;
        padding-top: 0;
        z-index: 12;
        position: relative;
        &:after {
          display: none;
        }
        a {
          font-size: 1.1rem;
          padding: 0.8em 1.5em 0.8em 0;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 1px;
        background-color: $color__btblack;
        opacity: 0.1;
        right: 24px;
        left: 0px;
      }
    }
  }

  .main-navigation.toggled .menu-main-nav-container > ul {
    .menu-toggled & {
      pointer-events: all;
      opacity: 1;
      overflow: scroll;
      padding-bottom: 4em;
      ul {
        pointer-events: all;
      }
    }
  }

  .main-navigation ul li.menu-item-home a {
    color: $color__btdarkgreen;
    .page-template-belltower-home & {
      color: $color__btpurewhite;
    }
  }

  .page-template-belltower-home .main-navigation ul li:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: $color__btblack;
    opacity: 0.1;
    right: 24px;
    left: 5px;
  }

  .page-template-belltower-home .main-navigation ul ul {
    background-color: transparent;
  }

  .main-navigation ul li.menu-item-home {
    display: none;
  }

  .main-navigation ul li a {
    font-size: 1.3rem !important;
  }

  //.menu-toggle {
  // display: none;
  //}
}
