.site {
	clear: both;
	width: 100%;
	max-width: 1344px;
	margin: 0 auto;
	padding: 0 2em;
}

.site-header {
	//background:lightgrey;
}

.site-main {
	//background:lightgrey;
}

.widget-area {
	//background:lightgrey;
}

.site-footer {
	//background:red; 
}

.site-title {
	display:none;
	//background:purple;
}

body {background:#E5E5E5;}
