$btsiteWidth: 1440px;
$btsitePaddingTop: 2vh;
$u30navPadding : clamp(18px, 3vh, 30px);
$u30txtPadding1 : clamp(10px, 2vh, 20px);

#wpadminbar + #page #masthead{
	margin-top:32px;
}

//Scroll Trigger
#pixel-to-watch {
	position: absolute;
	width: 1px;
	height: 1px;
	//Change Top to change when nav changes
	top: 1px;
	left: 0;
}

#primary {
	min-height:1000px;
}

.site {
	clear: both;
	width: 100%;
}

.cwidth {
	max-width: $btsiteWidth;
	margin: 0 auto;
}

.site-title {
	display:none;
}

body.admin-bar {
	//#page {margin-top:32px}
}

#masthead {
	//padding-top:$btsitePaddingTop;
	position: fixed;
    width: 100%;
    top: 0;
	z-index: 10;
	background-color:transparent;
	transition: background-color 300ms ease-in-out;
	&:after {
		content:'';
		position: absolute;
		left:0;
		right:0;
		bottom:-1px;
		height:1px;
		background-color:$color__btblack;
		opacity: 0;
		transition: opacity 300ms ease-in-out;
	}
	.scrolled &{
		background-color:$color__btwhite;
		&:after{opacity: 0.1;}
	}
}

#page {
	//margin-top:$btsitePaddingTop;
}

.site-header-w1 {
	height:100%;
}

h1 {
	margin:0;
}

.main-navigation {
	//background:green;
	height:100%;
	ul {
		justify-content: space-between;
		max-height: 100px;
		padding-top:$u30navPadding;
		padding-bottom: $u30navPadding;
		align-items: center;
		//min-height: 70px;
		li {
			&:nth-child(2) { order: 1; }
			&:nth-child(3) { order: 2; }
			&:nth-child(4) { order: 4; }
			&:nth-child(5) { order: 5; }
			&.menu-item-home {
				order:3;
				padding-top:0;
				padding-bottom: 0;
			}
			a {
				color:$color__btwhite;
				font-size: 1.1rem;
				.scrolled &{
					color:$color__btblack;
				}
			}
			&.home a svg{
				height: 50px;
				transform: translate(0, 6px);
				fill:$color__btwhite;
				.scrolled &{
					fill:$color__btblack;
				}
			}
		}
	}
}

.site-footer {
	background-color: $color__btdarkgreen;
}

.footerw1 {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap:2em;
	padding: 10vh 0;
	a {
		color:$color__btwhite;
		text-decoration: none;
		&.femail {
			text-decoration: underline;
		}
	}
	p {
		margin:0;
	}
	strong {
		color:$color__btwhite;
		display:block;
		width:100%;
	}
	a {
		display:block;
		width:100%;
	}
	.fcontact {
		margin-top:5vh;
	}
	ul li {
		padding: 0.3em 0;
	}
}

.home-head {
	background-color: $color__btdarkgreen;
	height:100vh;
}

.home-headw2 {
	display:grid;
	grid-template-columns: .6fr 1.4fr .6fr;
	grid-template-rows: 0 auto;
	//min-height:500px;
	height: 100%;
	padding-top: 6vh!important;
	gap: 0 2vw;
	overflow:hidden;
	h1 {
		text-align: center;
		grid-row: 1 / 1;
		grid-column: 1 / 4;
		color: $color__btwhite;
		font-size: 110px;
		line-height: 1;
		font-size: calc(3.5vw + 3.5vh);
		z-index: 1;
		//text-shadow: 0px 1px 1px rgb(000 000 000 / 50%);
		text-shadow: 0px 2px 2px rgba(0, 0, 0, .2);
		//height: 0;
	}
	strong {
		display:block;
		//width:100%;
		padding:$u30txtPadding1 0;
		font-size: 1.1rem;
	}
	p {
		margin:0;
		font-size: 1.1rem;
	}
	a {
		color: $color__btblack;
		font-size: 1.1rem;
	}
	& > div {
		grid-row: 2 / 2;
		&.home-headc1 {
			margin-top:auto;
			padding-bottom:10vh;
			display:flex;
			.home-headc1w1 {
				text-align: center;
			}
		}
		&.home-headc2 {
			//grid-row: 1 / 2;
			background:white;
			margin-top: 3vh;
			position: relative;
			background-color: $color__btdarkgreen;
			background-image: url("/wp-content/themes/belltower/images/belltower-2.jpg");
			background-size: cover;
			background-position: center;
			img {
				position: absolute;
				top: 0;
				left:0;
				right:0;
				height: auto;
				width: 101%;
			}
		}
		&.home-headc3 {
			margin-top:auto;
			padding-bottom:10vh;
			display:flex;
			.home-headc3w1 {
				text-align: center;
				margin-left: auto;
			}
		}
	}
}


.bt-home .entry-header {
	display:none;
}


@media (max-width:$btsiteWidth) {
	.cwidth {
		padding: 0 2em;
	}
}

