.has-darkest-green-color {
  color: var(--color__btdarkestgreen) !important;
}
a.has-darkest-green-color:hover {
  color: var(--color__btdarkestgreen) !important;
}
.has-darkest-green-bg {
  background-color: var(--color__btdarkestgreen) !important;
}

.has-dark-green-color {
  color: var(--color__btdarkgreen) !important;
}
a.has-dark-green-color:hover {
  color: var(--color__btdarkgreen) !important;
}
.has-dark-green-bg {
  background-color: var(--color__btdarkgreen-bg) !important;
}

.has-black-color {
  color: var(--color__btblack) !important;
}
.has-black-bg {
  background-color: var(--color__btblack) !important;
}

.has-pink-color {
  color: var(--color__btpink) !important;
}
.has-pink-bg {
  background-color: var(--color__btpink) !important;
}

.has-light-green-color {
  color: var(--color__btlightgreen) !important;
}
.has-light-green-bg {
  background-color: var(--color__btlightgreen) !important;
}

.has-yellow-color {
  color: var(--color__btyellow) !important;
}
.has-yellow-bg {
  background-color: var(--color__btyellow) !important;
}

.has-red-color {
  color: var(--color__btred) !important;
}
.has-red-bg {
  background-color: var(--color__btred) !important;
}

.has-pure-white-color {
  color: var(--color__btpurewhite) !important;
}
.has-pure-white-bg {
  background-color: var(--color__btpurewhite) !important;
}

.has-white-color {
  color: var(--color__btwhite) !important;
}
.has-white-bg {
  background-color: var(--color__btwhite) !important;
}

.entry-header {
  position: relative;
  h1 {
    position: relative;
    z-index: 3;
  }
  &:before {
    content: "";
    background-image: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    filter: grayscale(100%);
  }
  &.none:before {
    filter: none;
  }
  &:after {
    content: "";
    width: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
    opacity: 1;
    mix-blend-mode: multiply;
  }
  &.black:after {
    background-color: var(--color__btblack);
  }
  &.darkgreen:after {
    background-color: var(--color__btdarkgreen-bg);
  }
  &.lightgreen:after {
    background-color: var(--color__btlightgreen);
  }
  &.pink:after {
    background-color: var(--color__btpink);
  }
  &.red:after {
    background-color: var(--color__btred);
  }
  &.white:after {
    background-color: var(--color__btwhite);
  }
  &.purewhite:after {
    background-color: var(--color__btpurewhite);
  }
}
