$color__btdarkgreen: #808166;
$color__btblack: #231F20;
$color__btpink: #E0CDC0;
$color__btlightgreen: #BAB488;
$color__btyellow: #b8a881;
$color__btred: #BA583B;
$color__btwhite: #E5E5E5;
$color__btpurewhite: #FFFFFF;

$color__background-body: $color__btpurewhite;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1;
$color__link-visited: #800080;
$color__link-hover: #191970;
$color__text-main: $color__btblack;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

.has-dark-green-color {color:$color__btdarkgreen;}
a.has-dark-green-color:hover {color:$color__btdarkgreen;}
.has-dark-green-bg {background-color:$color__btdarkgreen;}

.has-black-color {color:$color__btblack;}
.has-black-bg {background-color:$color__btblack;}

.has-pink-color {color:$color__btpink;}
.has-pink-bg {background-color:$color__btpink;}

.has-light-green-color {color:$color__btlightgreen;}
.has-light-green-bg {background-color:$color__btlightgreen;}

.has-yellow-color {color:$color__btyellow;}
.has-yellow-bg {background-color:$color__btyellow;}

.has-red-color {color:$color__btred;}
.has-red-bg {background-color:$color__btred;}

.has-pure-white-color {color:$color__btpurewhite;}
.has-pure-white-bg {background-color:$color__btpurewhite;}

.has-white-color {color:$color__btwhite!important;}
.has-white-bg {background-color:$color__btwhite;}

#masthead {
    //opacity:0;
    height:0;
    //transition: opacity 10ms ease-in 0ms;
    &.load {
        //opacity:1;
        height: auto;
    }
}

.entry-header {
    position: relative;
    h1 {
        position: relative;
        z-index: 3;
    }
    &:before {
        content:'';
        background-image: inherit;
        background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;
        width:100%;
        top:0;
        bottom:0;
		position: absolute;
        z-index: 1;
        filter: grayscale(100%);
    }
	&:after {
		content:'';
		width:100%;
		//height:100%;
        top:0;
        bottom:0;
		position: absolute;
		z-index: 2;
        opacity: 1;
        mix-blend-mode: multiply;
        //-webkit-filter: grayscale(100%);
        //filter: grayscale(100%);
        //opacity: 0.5;
	}
	//&.none:after {}
	&.black:after  {background-color:$color__btblack;}
	&.darkgreen:after {background-color:$color__btdarkgreen;}
	&.lightgreen:after {background-color:$color__btlightgreen;}
	&.pink:after {background-color:$color__btpink;}
	&.red:after {background-color:$color__btred;}
	&.white:after {background-color:$color__btwhite;}
	&.purewhite:after {background-color:$color__btpurewhite;}
}
