@font-face {
    font-family: 'Raisonne Pro';
    src: url('/wp-content/themes/belltower/fonts/RaisonnePro-Regular.woff2') format('woff2'),
        url('/wp-content/themes/belltower/fonts/RaisonnePro-Regular.woff') format('woff'),
        url('/wp-content/themes/belltower/fonts/RaisonnePro-Regular.ttf') format('truetype'),
        url('/wp-content/themes/belltower/fonts/RaisonnePro-Regular.svg#RaisonnePro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raisonne Pro';
    src: url('/wp-content/themes/belltower/fonts/RaisonnePro-Light.woff2') format('woff2'),
        url('/wp-content/themes/belltower/fonts/RaisonnePro-Light.woff') format('woff'),
        url('/wp-content/themes/belltower/fonts/RaisonnePro-Light.ttf') format('truetype'),
        url('/wp-content/themes/belltower/fonts/RaisonnePro-Light.svg#RaisonnePro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raisonne Pro';
    src: url('/wp-content/themes/belltower/fonts/RaisonnePro-DemiBold.woff2') format('woff2'),
        url('/wp-content/themes/belltower/fonts/RaisonnePro-DemiBold.woff') format('woff'),
        url('/wp-content/themes/belltower/fonts/RaisonnePro-DemiBold.ttf') format('truetype'),
        url('/wp-content/themes/belltower/fonts/RaisonnePro-DemiBold.svg#RaisonnePro-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


// stylelint-disable value-keyword-case
//$font__main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font__main: "Raisonne Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
//$font__src: url("/wp-content/themes/belltower/fonts/RaisonnePro-Regular.ttf");
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
